<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Event Management Database</title>
    </head>
    <body>
        <h2>Option Menu:</h2>
        <h3><a href="/events/list">1)</a> List all events</h3>
        <h3><a href="/events/add">2)</a> Add an event</h3>
        <h3><a href="/events/edit">3)</a> Edit an event</h3>
        <h3><a href="/events/delete">4)</a> Delete an event</h3>
        <h3><a href="/events/attendees/list">5)</a> List attendees of an event</h3>
        <h3><a href="/events/attendees/add">6)</a> Add an attendee to an event</h3>
        <h3><a href="/events/attendees/delete">7)</a> Delete an attendee from an event</h3>
    </body>
</html>
